* {
  box-sizing: border-box;
}

html, body {
  font-size: 13px;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  min-height: fit-content;
  min-width: fit-content;
}

.wrapper {
  min-height: 648px;
  height: 100%;
  width: 100vw;
}
.wrapper .svg-back {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.wrapper .svg-back svg {
  height: 100%;
  width: 100%;
}
.wrapper .container-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 500px;
  width: 450px;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.wrapper .container-wrapper .cover-upper {
  position: relative;
  height: 500px;
  width: 100%;
  padding: 40px;
}
.wrapper .container-wrapper .cover-upper.to-pass .upper {
  transform: translateX(-150%);
  transition: all 300ms ease-in-out;
}
.wrapper .container-wrapper .cover-upper.to-pass .upper:nth-child(2) {
  transform: translateX(0);
}
.wrapper .container-wrapper .upper {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: calc(100% - 80px);
  transition: all 300ms ease-in-out;
}
.wrapper .container-wrapper .upper .logo {
  width: 110px;
  padding-top: 15px;
}
.wrapper .container-wrapper .upper .sign-in-text {
  font-size: 28px;
  width: 100%;
  height: 35px;
}
.wrapper .container-wrapper .upper .continue-text {
  font-size: 14px;
}
.wrapper .container-wrapper .upper .email-input {
  width: 100%;
  padding-top: 60px;
  height: 110px;
}
.wrapper .container-wrapper .upper .email-input .input-wrap {
  position: relative;
  height: 30px;
  width: 100%;
  cursor: text;
}
.wrapper .container-wrapper .upper .email-input .input-wrap .acting-placeholder {
  width: 100%;
  position: absolute;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  color: #777;
  top: 0;
  left: 0;
  transform-origin: bottom left;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.wrapper .container-wrapper .upper .email-input .input-wrap input {
  border: 0;
  width: 100%;
  font-size: 14px;
  height: 27px;
  padding-bottom: 5px;
}
.wrapper .container-wrapper .upper .email-input .input-wrap input:focus {
  outline: none;
  border: 0;
}
.wrapper .container-wrapper .upper .email-input .input-wrap .bottom-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: rotateY(90deg);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.wrapper .container-wrapper .upper .email-input .input-wrap hr {
  position: absolute;
  bottom: 0;
  margin: 0;
  border: 0;
  width: 100%;
  border-top: 1px solid #dedede;
}
.wrapper .container-wrapper .upper .email-input .input-wrap .error-text {
  color: #d50000;
  font-size: 13px;
  height: 20px;
  padding-top: 10px;
}
.wrapper .container-wrapper .upper .email-input .input-wrap.focused .acting-placeholder {
  color: #4285f4;
}
.wrapper .container-wrapper .upper .email-input .input-wrap.focused .bottom-line {
  border-bottom: 2px solid #4285f4;
  transform: rotateY(0deg);
}
.wrapper .container-wrapper .upper .email-input .input-wrap.focused.error .acting-placeholder {
  color: #d50000;
}
.wrapper .container-wrapper .upper .email-input .input-wrap.focused.error .bottom-line {
  border-color: #d50000;
}
.wrapper .container-wrapper .upper .email-input .input-wrap.no-place .acting-placeholder {
  transform: translateY(-30px) scale(0.7);
}
.wrapper .container-wrapper .upper .forgot-wrap, .wrapper .container-wrapper .upper .next-wrap {
  position: relative;
  height: 70px;
  width: 100%;
  padding-top: 25px;
}
.wrapper .container-wrapper .upper .forgot-wrap a, .wrapper .container-wrapper .upper .forgot-wrap a:link, .wrapper .container-wrapper .upper .forgot-wrap a:active, .wrapper .container-wrapper .upper .forgot-wrap a:visited, .wrapper .container-wrapper .upper .next-wrap a, .wrapper .container-wrapper .upper .next-wrap a:link, .wrapper .container-wrapper .upper .next-wrap a:active, .wrapper .container-wrapper .upper .next-wrap a:visited {
  color: #4285f4;
  font-size: 15px;
  text-decoration: none;
  font-weight: 400;
}
.wrapper .container-wrapper .upper .next-but {
  position: absolute;
  right: 0;
  min-width: 88px;
  padding: 8px 20px;
  background-color: #4285f4;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.wrapper .container-wrapper .upper:nth-child(2) {
  transform: translateX(150%);
}
.wrapper .container-wrapper .upper:nth-child(2) .to-em {
  cursor: pointer;
  float: right;
  background: none;
  border: 0;
}
.wrapper .container-wrapper .upper:nth-child(2) .to-em:focus {
  outline: 0;
}
.wrapper .container-wrapper .lower {
  padding-top: 20px;
  font-size: 12px;
  text-align: right;
  position: relative;
  bottom: 0;
}
.wrapper .container-wrapper .lower a, .wrapper .container-wrapper .lower a:link, .wrapper .container-wrapper .lower a:active, .wrapper .container-wrapper .lower a:visited {
  color: #888;
  text-decoration: none;
  margin-left: 30px;
}

@media (max-height: 648px) {
  .wrapper {
    position: relative;
    min-height: 760px;
  }
  .wrapper .svg-back {
    position: absolute;
    height: 100%;
  }
}

/*# sourceMappingURL=login.css.map */
